@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-bg
}

@media (min-width: 640px) {

  /* 640px is the default min-width for sm in Tailwind */
  body {
    @apply bg-white;
    /* Replace with the color you want at sm breakpoint */
  }
}